services:

	guestbook.commentFormFactory:
		class: GuestbookModule\Forms\CommentFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	guestbook.commentFrontFormFactory:
		class: GuestbookModule\Forms\CommentFrontFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

	guestbook.pageFormFactory:
		class: GuestbookModule\Forms\PageFormFactory
		setup:
			- injectFactory(@cms.admin.basicFormFactory)

factories:
	guestbook.tableControl:
		class: GuestbookModule\Components\TableControl
		tags: [component]
