services:

	guestbook.guestbookContent:
		class: CmsModule\Content\ContentType('GuestbookModule\Entities\PageEntity')
		setup:
			- addSection('Content', @guestbook.tableControlFactory)
			- addSection('Settings', @guestbook.pageFormFactory)
		tags: [contentType: [name: 'guestbook']]

	guestbook.commentRepository:
		class: GuestbookModule\Entities\CommentEntity
		tags: [repository]

includes:
	- presenters.neon
	- components.neon
