{define #page-content}

{if $presenter->id}
	{control itemList array($control->getCurrentComment())}
	{if !$presenter->isLoggedInAsSuperadmin()}
		{control form}

	{/if}

{else}
	{if !$presenter->isLoggedInAsSuperadmin()}
		{control form}

	{/if}

	{control vp}
	{control itemList $control->getItemsBuilder()->orderBy('r.created', 'DESC')->getQuery()->getResult()}
	{control vp}

{/if}

{/define}
